{% url 'login' as login %}
{% url 'registro' as registro %}
{% url 'salir' as salir %}
{% url 'cart' as cart %}
{% url 'direccion_envio' as direccion_envio %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Tienda</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% if user.is_authenticated%}
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{salir}}"><span class="fas fa-sign-in-alt"></span> Salir</a>
            </li>
            </ul>
            {%else%}

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login %} active{% endif %}" aria-current="page" href="{{login}}"><span class="fas fa-user"></span> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == registro %} active{% endif %}" href="{{registro}}"><span class="fas fa-user"></span> Registro</a>
                </li>
            </ul>
            {%endif%}
                
                
                <ul class="navbar-nav">
                    <li class="nav-item"> 
                        <a href="{{cart}}" class="nav-link"><span class="fa-solid fa-cart-shopping"></span> Carrito </a>
                    </li>
                </ul>

                {% if user.is_authenticated%}
                <ul class="navbar-nav">
                    <li class="nav-item"> 
                        <a  class="nav-link " href="{{direccion_envio}}"><span class="fas fa-location-arrow"></span> Mis direcciones </a>
                    </li>
                    {%endif%}
                </ul>

            
        </div>
    </div>
</nav>