{% extends 'base.html' %}
{% load funcion_tag %}
{% block content %}

<div class="col-3">
    {% if product.image%}
    <img src="{{product.image.url}}" alt="ProductoImagen" width="200" height="200">
    {% endif %}

</div>
<div class="col">
    <div class="h2 font-monospace alert-success">
        Producto agregado al carrito

    </div>
    <div>
        <a href="{% url 'product' product.slug %}">{{ product.title}}</a>
    </div>

    <div class="h2 font-monospace text-danger">
        {{product.price | precio_tag}}

    </div>



</div>


{% endblock %}